@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------tarot game.html--------------------*/

.bg-color {
    background: linear-gradient(#092468, #fcbccd);
    background-image: url("../images/space.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#navbar {
    background:transparent;
    color: rgb(247, 226, 168); 
    z-index: 1;
    padding: 10px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}


.logo > a {
    font-family: 'Hind', sans-serif;
    text-shadow: 0 0 10px;
    font-weight: 700;
    font-size: 25px;
    color: #c1e2ff; 
   filter: glow(color=#c1e2ff,strength=3);  /*https://stackoverflow.com/questions/5201949/how-to-make-glowing-text-in-html-and-css*/
}

a.dropdown-item  {
    color:#571455;
    font-weight: bold;
}

p > span,
.card-meaning,
.info {
  font-size: 18px;
  outline: none;
  font-weight: 500;
  color: #060606;
  text-shadow: .5px .5px #da411d;
  background: rgb(238, 212, 238);
  border-radius: 4px;
  box-shadow: 2px 2px 5px black;
}

p > span,
#about {
    padding-left: 10px;
    padding-right: 10px;
}


.logo {
    padding-top: 10px;
}

img {
    width:100%; 
    height:100%; 
    object-fit:cover; 
    border-radius: 5px;
    cursor: pointer;
}

/*----------------------back-cards in scroll--------------------*/

.card-back {
    width: 70px;
    height: 100px;
    border-radius: 5px;
}

.scroll-cards {   
    width: 100px;
    overflow: auto; 
    white-space: nowrap; 
    padding: 10px; 
    margin-bottom: 50px;
    margin-top: 20px;
}

/* SCROLLBAR */
.scroll-cards::-webkit-scrollbar,
.info::-webkit-scrollbar {
    width: 10px;
}

/* copied this code for making track smaller than thumb https://stackoverflow.com/questions/26493446/change-size-of-scrollbar-thumb-with-css*/
/* Track */
.scroll-cards::-webkit-scrollbar-track,
.info::-webkit-scrollbar-track {
    background: #585143;
    border: 10px solid transparent;
    background-clip: content-box;   /* THIS IS IMPORTANT */
}

/* Handle */
.scroll-cards::-webkit-scrollbar-thumb,
.info::-webkit-scrollbar-track {
    background: #c84540;
    border-radius: 5px;
}

/* Handle on hover */
.scroll-cards::-webkit-scrollbar-thumb:hover,
.info::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

/*----------------------card-containers, meanings & about spread--------------------*/

.column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:flex-start;
  }

.card-container {
  background-color: #f1f1f1;
  color: rgb(177, 80, 16);
  font-weight: bold;
  width: 70px;
  height: 100px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background:#ffffff61;
  border-radius: 4px;
  box-shadow: 2px 2px 5px black;
  flex-shrink: 0;
}

.card-meaning {
  width: 70px;
  margin-left: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px black;
  flex-shrink: 0;
  cursor: pointer;
}

.hidden-card {
    visibility: hidden;
}

.about-spread {
    margin-top: 50px;
}

/* for jQuery for the Mirror spread*/
.mirror-text2 {
    background: transparent;
    box-shadow: none;
    font-size: 16px;
    text-shadow: 1px 1px #da411d;
    color: #060606;
}



/*for jQuery when clicking the back-cards*/
#card-container2 {
    border: 2px solid black;
    background: black;
}

/*for jQuery, when clicking the cards for description*/
.card-container3 {
    height: 100px;
    width: 70px;
}

/*for jQuery when clicking the cards for description*/
.card-meaning3 {
    font-size: 10px;
    cursor: pointer;
    background: rgb(238, 212, 238);
}

/*for jQuery to add focus to card meanings*/
.card-meaning3:focus {
    font-size: 14px;
    outline: none;
    width: 100px;
    background: rgb(238, 212, 238);
}

    .card-meaning:focus,
    .card-meaning2:focus {
    font-size: 14px;
    outline: none;
    width: 100px;
    background: rgb(238, 212, 238);
}

@media screen and (max-width: 320px) {
    .card-back {
        height: 80px;
        width: 50px;
    }
}

@media screen and (max-width: 376px) {
    .card-back {
        height: 80px;
        width: 61px;
    }

    .card-meaning {
        font-size: 8.8px;
    }
}

/*---------------------description-----------------------*/
 

.image > img {
    cursor: context-menu;
    width: fit-content;
    height: fit-content;
}

.info {
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;  
}

#card-name {
    background: #0000009f;
    color: white;
    border-radius: 5px; 
    font-size: 20px;
}

/*---------------------------buttons------------------------*/
button.btn.btn-light {
  display: flex;
  margin: 0 auto;
  background: #07ff6f;
  border: 1px solid #0a7738;
}

.btn.btn-danger {
  margin-top: 7px;
  margin-bottom: 15px;
}

button#btnGroupDrop1.btn.btn-secondary.dropdown-toggle,
button.btn.btn-light {
    font-weight: bold;
    box-shadow: 2px 2px 10px black;
}


button#btnGroupDrop1.btn.btn-secondary.dropdown-toggle {
    flex: none;
    background: #07ffec;
    border: 1px solid #034b45;
    color:#571455;
    margin-left: 20px;
}

/*-----------------------Contact pop-up Modal --------------------*/

.pop-box > form > input,
.pop-box > form > textarea { 
   display: flex;
   margin: 0 auto;
   width: 85%; 
}

input,
textarea {
  border: 1px gray solid;
  border-radius: 3px;
  box-shadow: 1px 1px 3px;
}

input:active, 
textarea:active,
input:focus, 
textarea:focus {
  border: 1px solid lightblue;
  border-radius: 3px;
  outline: none;
}

form {
  background: white;
  position: relative;
  top: 30px;
  background: white;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 5px;
  height: 67%;
  width: 70%;
}

#x {
  position: absolute;
  top: 0;
  padding-bottom: 40px;
  right: 10px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}

.pop-bg {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
} 

h5 {
  padding-top: 20px;
  padding-bottom: 10px;
}

/*for jQuery*/
.validation {
  text-align: center;
  color: white;
  display: flex;
  margin: 0 auto;
  width: 85%; 
  justify-content: center;
  margin-bottom: 5px;
  border-radius: 3px;
}

/*for jQuery*/
.sent-message {
  text-align: center;
  color: white;
  display: flex;
  margin: 0 auto;
  width: 85%; 
  justify-content: center;
  margin-bottom: 7px;
  border-radius: 3px;
  padding: 10px;;
}


/*---------------------index.html-----------------------*/

#start-bg {
    background: linear-gradient(#092468, #fcbccd);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#cover-container {
    width: 1100px;
    height: 100vh;
}

.start-content {
    display: flex;
    justify-content: center;
    align-items: center; 
}

 
.start-button {
    position: relative;
    top: 70px;
    margin: -30px;
}

#play {
    padding: 2px;
    border-radius: 2px;
    border: 3px solid #343030;
    width: 260px;
    background: #fedcd2;
}

#play > a {
    color: darkred;
    text-decoration: none;
    background-color: transparent;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 25px;
}


@media screen and (max-width: 800px) {
    #cover-container { 
        display: none;
    }

    #start-bg {
        background-image: url("../images/mobilecover.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }   
}


 @media (min-height: 1366px) and (min-width: 1024px), /*for ipad Pro*/
 (max-width: 700px) {
       #cover-container { 
        display: none;
    }

    #start-bg {
        background-image: url("../images/mobilecover.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    } 
}

/*-------------------hover effects-----------------------------*/

/* Grow */
.card-back,
.card-container2 img,
.card-meaning,
.card-meaning2 {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    box-shadow: 2px 2px 5px black;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.card-meaning2:hover,
.card-meaning2:focus,
.card-meaning2:active,
.card-meaning:hover,
.card-meaning:focus,
.card-meaning:active,
.card-container2 img:hover,
.card-container2 img:focus,
.card-container2 img:active,
.card-back:hover,
.card-back:focus,
.card-back:active {
    transform: scale(1.1);
}


