@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

/*----------------------tarot game.html--------------------*/

.bg-color {
    background: linear-gradient(#092468, #fcbccd);
    background-image: url("../images/space.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

#navbar {
    background: transparent;
    color: rgb(247, 226, 168); 
    z-index: 1;
    padding: 10px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo > a {
    font-family: 'BenchNine', sans-serif;
    font-weight: 700;
    font-size: 33px;
    color: #c1e2ff;
    text-shadow: 1px 0px 20px #c1e2ff;
    letter-spacing: 1px;
}

.logo > a:hover {
    color: rgba(137, 188, 255, 0.788);
    text-decoration: none;
}

p > span, 
.card-meaning,
.info {
  font-size: 18px;
  outline: none;
  font-weight: 500;
  color: #060606;
  text-shadow: .5px .5px #da411d;
  background: rgb(238, 212, 238);
  border-radius: 4px;
}

p > span,
#about {
    padding-left: 10px;
    padding-right: 10px;
    background: rgb(238 212 238 / 79%);
}

.logo {
    padding-top: 10px;
}

img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 5px;
    cursor: pointer;
}

.row-game {
    display: flex;
    justify-content: space-evenly;
}

a > i {
    color: #744d77;
    font-size: 12px;
}

a.dropdown-item  {
    color:#444344;
    font-weight: bold;
}

.dropdown-menu.show {
    left: -16px !important;
}

/*----------------------back-cards in scroll--------------------*/

.card-back {
    width: 70px;
    height: 100px;
    border-radius: 5px;
}

.scroll-cards {   
    width: 100px;
    overflow: auto; 
    white-space: nowrap; 
    padding: 10px; 
    margin-bottom: 50px;
    margin-top: 20px;
}

/* SCROLLBAR */
.scroll-cards::-webkit-scrollbar,
.info::-webkit-scrollbar {
    width: 10px;
}

/* copied this code for making track smaller than thumb https://stackoverflow.com/questions/26493446/change-size-of-scrollbar-thumb-with-css*/
/* Track */
.scroll-cards::-webkit-scrollbar-track,
.info::-webkit-scrollbar-track {
    background: #585143;
    border: 10px solid transparent;
    background-clip: content-box;   /* THIS IS IMPORTANT */
}

/* Handle */
.scroll-cards::-webkit-scrollbar-thumb,
.info::-webkit-scrollbar-thumb {
    background: #c84540;
    border-radius: 5px;
}

/* Handle on hover */
.scroll-cards::-webkit-scrollbar-thumb:hover,
.info::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

/*----------------------card-containers, meanings & about spread--------------------*/

.column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-right: 10px;
}

.card-container {
  color: rgb(177, 80, 16);
  font-weight: bold;
  width: 70px;
  height: 100px;
  margin-left: 10px;
  margin-bottom: 12px;
  font-size: 26px;
  margin-top: 20px;
  background:#ffffff61;
  border-radius: 4px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-meaning {
  width: 70px;
  margin-left: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  flex-shrink: 0;
  cursor: pointer;
}

.card-nr {
    text-shadow: 1.5px 1.5px #6d4210;
}

.hidden-card {
    visibility: hidden;
}

.about-spread {
    margin-top: 40px;
    margin-bottom: 40px;
}

/*for jQuery for the Mirror spread*/
.mirror-text2 {
    background: rgba(255, 125, 38, 0.76);
    box-shadow: none;
    font-size: 16px;
    text-shadow: 1px 1px #da411d;
    color: #060606;
    border: none;
    text-align: center;
    padding: 5px;
}

/*for jQuery for changing the card-container size on description click*/
.card-container2 {
    width: 70px !important;
    height: 100px !important;
}

/*for jQuery for changing the meaning size on description click*/
.card-meaning2 {
    width: 70px !important;
    font-size: 10px !important;
}

.card-meaning2:focus {
    outline: none;
    transform: scale(1.4, 1.4) !important;
    z-index: 10;
}

@media screen and (min-width: 767px) {
    .card-container {
        width: 130px;
        height: 185px;
    }

    .card-meaning {
        font-size: 14px;
        width: 130px;
    }
}

@media screen and (max-width: 766px) {
    .card-meaning:focus,
    .card-meaning2:focus {
        outline: none;
        transform: scale(1.3, 1.5) !important;
        z-index: 10;
    }
}

@media screen and (max-width: 376px) {
    .card-back,
    .card-container,
    .card-container2 {
        height: 87px !important;
        width: 61px !important;
    }

    .card-meaning,
    .card-meaning2 {
        font-size: 8.8px !important;
        width: 61px !important;
    }

    .mirror-text2 {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .card-back,
    .card-container,
    .card-container2 {
        height: 80px !important;
        width: 53px !important;
    }

    .card-meaning,
    .card-meaning2 {
        font-size: 7px !important;
        width: 53px !important;
    }
}

/*---------------------description-----------------------*/
 

.image > img {
    cursor: context-menu;
    width: fit-content;
    height: fit-content;
}

.info {
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;  
    box-shadow: 2px 2px 5px rgb(82, 0, 0);
}

#card-name {
    background: #0000009f;
    color: white;
    border-radius: 3px;
    padding: 2px;
    font-size: 25px;
    text-shadow: 1.5px 1.5px #b30000;
    box-shadow: 1.5px 1.5px 5px rgb(82, 0, 0);
    font-family: 'BenchNine', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.image, 
.card-info {
    margin-top: 40px;
}


/*---------------------------buttons------------------------*/

button.btn.btn-light {
  display: flex;
  margin: 0 auto;
  background: #a9ff62;
  border: 1px solid #0a7738;
  box-shadow: 2px 2px 5px #033819;
}

button.btn.btn-light:hover {
    background: #85c94d;
}

.btn.btn-danger {
  margin-top: 7px;
  margin-bottom: 15px;
}

button#btnGroupDrop1.btn.btn-secondary.dropdown-toggle,
button.btn.btn-light {
    font-weight: bold;
}

button#btnGroupDrop1.btn.btn-secondary.dropdown-toggle {
    flex: none;
    background: #7cdfff; 
    border: 1px solid #0e4b5f;
    color:#571455;
    margin-left: 20px;
    box-shadow: 2px 2px 5px #042b5e;
}

button#btnGroupDrop1.btn.btn-secondary.dropdown-toggle:hover {
    background: #69bcd8;
}

#play {
    padding: 2px;
    border-radius: 2px;
    border: 3px solid #343030;
    width: 260px;
    background: #fedcd2;
    color: darkred;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 25px; 
}

/*-----------------------Contact pop-up Modal --------------------*/

.pop-box > form > input,
.pop-box > form > textarea { 
   display: flex;
   margin: 0 auto;
   width: 85%; 
}

input,
textarea {
  border: 1px gray solid;
  border-radius: 3px;
  box-shadow: 1px 1px 3px;
}

input:active, 
textarea:active,
input:focus, 
textarea:focus {
  border: 1px solid lightblue;
  border-radius: 3px;
  outline: none;
}

form {
  background: white;
  position: relative;
  top: 30px;
  background: white;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 5px;
  height: 67%;
  width: 70%;
}

#x {
  position: absolute;
  top: 0;
  padding-bottom: 40px;
  right: 10px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}

.pop-bg {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
} 

h5 {
  padding-top: 20px;
  padding-bottom: 10px;
}

/*for jQuery*/
.validation {
  text-align: center;
  color: white;
  display: flex;
  margin: 0 auto;
  width: 85%; 
  justify-content: center;
  margin-bottom: 5px;
  border-radius: 3px;
}

/*for jQuery*/
.sent-message {
  text-align: center;
  color: white;
  display: flex;
  margin: 0 auto;
  width: 85%; 
  justify-content: center;
  margin-bottom: 7px;
  border-radius: 3px;
  padding: 10px;
}

/*---------------------index.html-----------------------*/

#start-bg {
    background: linear-gradient(#092468, #fcbccd);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#cover-container {
    width: 1100px;
    height: 100vh;
}

.start-content {
    display: flex;
    justify-content: center;
    align-items: center; 
}
 
.start-button {
    position: relative;
    top: 70px;
    margin: -30px;
}

@media screen and (max-width: 800px) {
    #cover-container { 
        display: none;
    }

    #start-bg {
        background-image: url("../images/mobilecover.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }   
}

 @media (min-height: 1366px) and (min-width: 1024px), /*for ipad Pro*/
 (max-width: 700px) {
       #cover-container { 
        display: none;
    }

    #start-bg {
        background-image: url("../images/mobilecover.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    } 
}

/*-------------------hover effects----------------------*/

/* Grow */
.card-back,
.card-container,
.card-meaning,
#about,
p > span,
.front-card {
    vertical-align: middle;
    box-shadow: 2px 2px 10px rgb(15, 14, 14);
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.front-card:hover,
.front-card:focus,
.front-card:active,
.card-meaning:hover,
.card-meaning:focus,
.card-meaning:active,
.card-container:hover,
.card-container:focus,
.card-container:active,
.card-back:hover,
.card-back:focus,
.card-back:active {
    transform: scale(1.1);
    position: relative;
    z-index: 10;
}

/*------------All Cards-----------*/
.front-card {
    box-shadow: none;
    padding: 4px;
}

img.front-card {
      border-radius: 4px;
      width: 70px;
      height: 100px;
      background: black;
      margin: 3px;
}

.image, 
.card-info {
    margin-bottom: 40px;
}
