
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-color {
    background: linear-gradient(#00331A, #300000);
    height: 350vh;
}

#navbar {
    background:#47000086;
    color: rgb(247, 226, 168); 
    z-index: 1;
    padding: 10px;
    margin-bottom: 15px;
}

p {
    color: #FFB570;
}

img {
    width:100%; 
    height:100%; 
    object-fit:cover; 
}

.card-back {
    width: 70px;
    height: 100px;
}

/* https://www.geeksforgeeks.org/make-a-div-horizontally-scrollable-using-css/*/
.scroll-cards {   
    width: 400px;
    overflow: auto; 
    white-space: nowrap; 
    padding: 4px; 
}

/*https://stackoverflow.com/questions/26493446/change-size-of-scrollbar-thumb-with-css*/
/* SCROLLBAR */
.scroll-cards::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.scroll-cards::-webkit-scrollbar-track {
    background: rgb(0,0,0);
    border: 4px solid transparent;
    background-clip: content-box;   /* THIS IS IMPORTANT */
}

/* Handle */
.scroll-cards::-webkit-scrollbar-thumb {
    background: rgb(61, 55, 40);
    border: 1px solid rgb(0,0,0);
}

/*----------------------card-containers--------------------*/

.card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.card-container {
  height: 100px;
  width: 70px;
  border: 1px solid rgb(177, 80, 16);
  margin-bottom: 30px;
}

/*for jQuery DOM*/
.card-container2 {
    border: none;
    height: 100px;
    width: 70px;
    margin-bottom: 30px;
}

.card-nr {
    color: rgb(177, 80, 16);
    font-size: 26px;
    padding-top: 31px;
    font-weight: bold;
}

.card-meaning {
  padding-top: 22px;
  font-weight: bold;
  font-size: 10px;
}

/*for jQuery DOM*/
.card-meaning2 {
    font-weight: bold;
    font-size: 10px;
    margin-top: -7px;
}

.hidden-card {
    visibility:hidden;
}

@media screen and (max-width: 500px) {
    .card-container {
        height: 80px;
        width: 50px;
    }
    
    .card-meaning {
        font-size: 7px;
        padding-top: 8px;
    }
}

@media screen and (max-width: 400px) {

    .column {
        margin: 0;
    }

    .column {
        margin-right: 8px;
        margin-bottom: 10px;
    }
}


/*---------------------start-page-----------------------*/

#start-bg {
background-color: blueviolet;
height: 100vh;
}

#cover-img { 
background: url("../images/cover.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: 870px 800px;

}


/*---------------------description-containers-----------------------*/
 
.image {
    border: solid 1px white;
    height: 600px;
    width: 400px;
    color: white;
}

.info {
    height: 600px;
    width: 450px;  
    color: white;
}

.info, 
.image {
   
      margin: 0 auto;
 
  
}
/*---------------------------buttons------------------------*/
button.btn.btn-warning {
  display: flex;
  margin: 0 auto;
}

/*-----------------------Contact pop-up Modal --------------------*/

.pop-box > form > input,
.pop-box > form > textarea { 
   display: flex;
   margin: 0 auto;
   width: 85%; 
}

input,
textarea {
  border: 1px gray solid;
  border-radius: 3px;
  box-shadow: 1px 1px 3px;
}

input:active, 
textarea:active,
input:focus, 
textarea:focus {
  border: 1px solid lightblue;
  border-radius: 3px;
  outline: none;
}

form {
  background: white;
  position: relative;
  top: 30px;
  background: white;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 5px;
  height: 67%;
  width: 70%;
}





