
* {
    margin: 0;
    padding: 0;
}

.bg-color {
    background: rgb(19, 58, 24);
    height: 300vh;
}

#navbar {
    background: rgb(153, 23, 6);
    color: #fff; 
    z-index: 1;
    padding: 10px;
}

img {
    width:70px;
    height: 100px;
}

p {
    color: #FFB570;
}

/* https://www.geeksforgeeks.org/make-a-div-horizontally-scrollable-using-css/*/
.scroll-cards {   
    width: 400px;
    overflow: auto; 
    white-space: nowrap; 
    padding: 4px; 
}

/*https://stackoverflow.com/questions/26493446/change-size-of-scrollbar-thumb-with-css*/
/* SCROLLBAR */
.scroll-cards::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.scroll-cards::-webkit-scrollbar-track {
    background: rgb(0,0,0);
    border: 4px solid transparent;
    background-clip: content-box;   /* THIS IS IMPORTANT */
}

/* Handle */
.scroll-cards::-webkit-scrollbar-thumb {
    background: rgb(25,25,25);
    border: 1px solid rgb(0,0,0);
}

/*-----card-containers----*/

.card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  margin: 0 auto;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.card-container {
  height: 100px;
  width: 70px;
  border: 2px solid white;
  margin-bottom: 30px;
}

.card-nr {
    color: white;
    font-size: 28px;
    padding-top: 20px;
    font-weight: bold;
}

.card-meaning {
  padding-top: 25px;
  font-weight: bold;
  font-size: 10px;
}


